Q-15. Write an SQL query to fetch intersecting records of two tables.

**Answer**

select t1.col1,t2.col2

from table1 t1

inner join table2 t2

on t1.id=t2.id

or

SELECT <Column_names> FROM table_1 INTERSECT SELECT <Column_names> FROM table_2;

Q-16. Write an SQL query to show records from one table that another table does not have.

**Answer**

SELECT * FROM table_1 EXCEPT SELECT * FROM table_2;