Q-19. Write an SQL query to determine the 5th highest salary without using TOP or limit method.

**Answer**

SELECT * FROM (SELECT ROW_NUMBER() OVER (ORDER BY salary DESC) AS R_NUM, first_name, salary FROM employee) as HEllO WHERE R_NUM=5;

Q-20. Write an SQL query to fetch the list of employees with the same salary.

**Answer**

SELECT s1.Name, s1.Salary
FROM employees s1
INNER JOIN employees s2 ON s1.Salary = s2.Salary AND s1.Name <> s2.Name