Q-1. Write an SQL query to print details of the Workers who have joined in Febâ€™2014.

SELECT * FROM Worker WHERE YEAR(JOINING_DATE) = 2014 AND MONTH(JOINING_DATE) = 02;

Q-2. Write an SQL query to fetch duplicate records having matching data in some fields of a table.

**Answer**

select columnname from table group by columname having count(columnname)>1

Q-3. How to remove duplicate rows from Employees table.

**Answer**

DELETE t1 FROM Employees t1  
INNERJOIN Employees t2   
WHERE  
    t1.id < t2.id AND  
    t1.firstname = t2.firstname AND
    t1.lastname = t2.lastname;