Q-17.  Write an SQL query to show the top n (say 10) records of a table.

**Answer**

select * from table limit 10

or

select top 10 * from table

Q-18. Write an SQL query to determine the nth (say n=5) highest salary from a table.

**Answer**

select max(salary) from table limit 1 offset 5