Q-13. Write an SQL query to show only odd rows from a table.

**Answer**

select * from table_name where ID in (
select ID from table_name where ID%2=1)

Q-14. Write an SQL query to clone a new table from another table.

**Answer**

INSERT INTO clone_tbl (id,col1,col2)
SELECT id,col1,col2 FROM tbl;